

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg,#b7b78a 50%,#3c6255 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    height: 90vh;
    width: 90%;
    background-color: hsl(0, 0%, 87%);
    
}

.navbar{
    height: 15vh;
    width: 90%;
    margin: auto;
 
}
.navbar, .navlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 35px;
    width: 35px;
   border: 3px solid #3c6255 ;
   border-radius: 50%;
  border-right: transparent;
position: relative;


}
.logo::before{
    content: "Shopify";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-10%,-50%);

}

.navlist li{
    list-style: none;
}
.navlist a{
    text-decoration: none;
    color: black;
    padding: 15px;
 
}

.navlist  li:hover{
    
    border-bottom:3px solid #3c6255 ;
    transition: all 0.1s ease-in-out;
    
}
.content img{
    height: 60vh;
    width: 40vw;
    padding-top: 50px;
}
.content{
    display: flex;
    margin-top: 40px;

}
.productInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    border-left:4px solid #3c6255 ;
    padding: 70px;
}
h3{
    color: rgb(73 ,73, 73);
    font-size: 22px;
    letter-spacing: 3px;

}
.content h1{
    color: #3c6255;
    font-size: 55px;
}
.content p{
    color: black;
    font-size: 17px;
    line-height: 30px;
}
.content button{
    padding: 15px 25px;
    font-size: 18px;
    color: white;
    border: none;
    background-color: #3c6255;
    cursor: pointer;
}
.content button:hover{
    background-color: white;
    color: #3c6255;
}
.hamburgur{
    display: none;
}
.hamburgur span{
    width: 40px;
    height: 3px;
    background-color: black;
    display: block;
    margin: 5px;
}
.hamburgur span:nth-child(2){
    width: 25px;
}



@media screen and (max-width: 796px) {
    .wrapper{
        position: relative;
        overflow: hidden;
    }
    .navlist {

     position: absolute;
     flex-direction: column;
     right: -70vh;
     top:0;
     background-color: #b7b78a;
     height: 100vh;
     width: 40vw;
     justify-content: center;
     gap: 5px;
     font-size: 16px; 
     transition: all 1s ease-in-out;
    
     
    }
    .navlist-active{
        right: 0;
    }
    .hamburgur{
        display: block;
        z-index: 5;
    }
    .content{
        margin: 10px;
        padding: 5px 50px;
         gap: 10px;
    
    }

    .content img{
        display: none;
    }
    .content h1{
        font-size: 35px;
    }
    .content p{
        font-size: 16px;
        line-height: 20px;
    }
  
    main{
        padding: 0px;
        margin: 0px;
    }

}
@media  screen and (max-width : 1110px) {
  .content{
    padding: 0px 40px;
    gap: 10px;

  }  

    .content h1{
        font-size:40px ;

    }
    .content p{
        font-size: 16px;
        line-height:20px ;
    }
    
}



@media  screen and (max-width:1207) {
    .content h1{
        font-size: 45px;
    }
    .content p{
        font-size: 17px;
    }
}








